# 허리디스크 (추간판 탈출증) 환자 현황 분석

## 데이터 출처
* https://www.data.go.kr/data/15089587/fileData.do
* 추간판 탈출증 질병 코드 M51만 사용

## 라이브러리, 데이터 Import

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 100)

plt.rc('font', family= 'Malgun Gothic')

lb_2018= pd.read_csv('건강보험심사평가원_3단상병별 시도별 건강보험 진료 통계 2018.csv', encoding= 'CP949')
lb_2019= pd.read_csv('건강보험심사평가원_3단상병별 시도별 건강보험 진료 통계 2019.csv', encoding= 'CP949')
lb_2020= pd.read_csv('건강보험심사평가원_3단상병별 시도별 건강보험 진료 통계 2020.csv', encoding= 'CP949')

print(lb_2018.shape, lb_2019.shape, lb_2020.shape)

(26718, 8) (26782, 8) (26820, 8)

### 허리디스크 데이터만 추출
* 주상병코드 == M51

In [3]:
lb_2018.head()

   진료년도 주상병코드 시도 구분  환자수  명세서 청구건수  입내원일수  요양급여비용총액   보험자부담금
0  2018   A00    서울   19        21     29   2057360  1618160
1  2018   A00    부산    7         7     39   8536620  6966680
2  2018   A00    인천    8         8     10   1104810   806590
3  2018   A00    대구    2         2      5    750470   628960
4  2018   A00    광주    4         4      4    105160    68460

In [4]:
lb_2018= lb_2018[lb_2018['주상병코드']== 'M51']
lb_2019= lb_2019[lb_2019['주상병코드']== 'M51']
lb_2020= lb_2020[lb_2020['주상병코드']== 'M51']

print(lb_2018.shape, lb_2019.shape, lb_2020.shape)

(17, 8) (17, 8) (17, 8)

### 2018~2020년 데이터 통합

In [5]:
lb= pd.concat([lb_2018, lb_2019, lb_2020])
lb.shape

(51, 8)

In [6]:
lb.head()

       진료년도 주상병코드 시도 구분     환자수  명세서 청구건수    입내원일수      요양급여비용총액       보험자부담금
15256  2018   M51    서울  405055   2014737  2274238  124302244910  87928411830
15257  2018   M51    부산  136177    703310   853286   49253687170  35530141100
15258  2018   M51    인천  125169    648994   778332   43590701320  31219070800
15259  2018   M51    대구  110562    502747   578597   34858401620  24695342440
15260  2018   M51    광주   66171    296063   410139   26533298880  19576340300